pyyaml==6.0.2
psutil==5.7.2
ray==2.3.0
ray[tune]
pandas==2.0.3
wandb==0.17.0
torch==1.7.1+cu110
torchelastic==0.2.1
torchvision==0.8.2+cu110b002
torchaudio==0.7.2
matplotlib==3.4.3
shapely==2.0.6
cairocffi==1.2.0
networkx==3.1
igraph==0.11.6
pymoo==0.6.1.1
gpytorch==1.4.0
botorch==0.3.3
pypop7==0.0.82